<header class="cf">
<div class="mainlogo">
  <h1 class="sitename"> Welcome to Carina's Wonderland</h1>
  </div>
    <nav>
        <ul>
            {% if page.url == "/" %}
                <a href="#"><li class="current">
            {% else %}
                <a class="animsition-link" href="{{ "/" | relative_url }}"><li>
            {% endif %}
                Blog</li></a>


            {% if page.url == "/about/" %}
                <a href="#"><li class="current">
            {% else %}
                <a class="animsition-link" href="{{ "/about/" | relative_url }}"><li>
            {% endif %}
                About</li></a>
        </ul>
    </nav>
</header>