--- 
layout: default 
---

<section class="posts container">
	{% for post in site.posts %}
	<div class="post">
      <img class="post-thumb" src="{{post.thumb-src}}" alt="Featured image: {{post.title}}">
      <div class="post-info">
        <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class="entry">
          {% if post.desc %}
            <p>{{post.desc | truncatewords: 10}}</p>
          {% else %}
            {{ post.excerpt | truncatewords: 10 }}
          {% endif %}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </div>
    </div>
  {% endfor %}
</section>